# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [1]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [2]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

CREATE DATABASE
--2020-02-06 17:30:01--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.25.47.11, 104.25.46.11, 2606:4700:20::6819:2f0b, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.47.11|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2020-02-06 17:30:01--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.47.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M  15.2MB/s    in 1.6s

2020-02-06 17:30:03 (15.2 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2020-02-06 17:30:04--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.25.47.11, 104.25.46.11, 2606:4700:20::6819:2f0b, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.47.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M  17.7MB/s    in 2.6s

2020-02-06 17:30:07 (17.7 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

### Connect to the database

In [3]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [4]:
%sql $conn_string

'Connected: student@reviews'

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [5]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row
(
    customer_id TEXT,
    review_date DATE, 
    review_rating INTEGER, 
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10) []
)

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [8]:
%%sql
COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_row FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [9]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [10]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE, 
    review_rating INTEGER, 
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10) [] 
)


-------------
-- leave code below as is
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [11]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [13]:
%%time
%%sql

SELECT product_title, review_date, AVG(review_rating) as average
FROM customer_reviews_row
WHERE review_date >= '1995-01-01' AND
    review_date <= '1995-12-31'
GROUP BY (product_title, review_date)
ORDER BY average DESC
LIMIT 20

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 4.53 ms, sys: 173 µs, total: 4.7 ms
Wall time: 360 ms

[('Longitude ', datetime.date(1995, 11, 20), Decimal('5.0000000000000000')),
 ('Hunger of Memory', datetime.date(1995, 10, 16), Decimal('5.0000000000000000')),
 ('Unix Network Programming', datetime.date(1995, 10, 13), Decimal('5.0000000000000000')),
 ('The Pond Doctor', datetime.date(1995, 8, 10), Decimal('5.0000000000000000')),
 ('Third Eye', datetime.date(1995, 8, 31), Decimal('5.0000000000000000')),
 ('The Radicalism of the American Revolution (Vintage)', datetime.date(1995, 12, 14), Decimal('5.0000000000000000')),
 ('COMMITMENT', datetime.date(1995, 12, 24), Decimal('5.0000000000000000')),
 ('The Lions of Al-Rassan', datetime.date(1995, 8, 10), Decimal('5.0000000000000000')),
 ('The Angel Maker', datetime.date(1995, 9, 8), Decimal('5.0000000000000000')),
 ('Shipping News ', datetime.date(1995, 9, 6), Decimal('5.0000000000000000')),
 ('Snow Crash (Bantam Spectra Book)', datetime.date(1995, 12, 13), Decimal('5.0000000000000000')),
 ("Liar's Poker", datetime.date(1995, 9, 8), Decimal('5.0000000000000000')),
 ('Genius in the Shadows ', datetime.date(1995, 12, 29), Decimal('5.0000000000000000')),
 ('The Hobbit and The Lord of the Rings', datetime.date(1995, 10, 24), Decimal('5.0000000000000000')),
 ('Zen and the Art of Motorcycle Maintenance', datetime.date(1995, 9, 30), Decimal('5.0000000000000000')),
 ('Interview with the Vampire ', datetime.date(1995, 10, 18), Decimal('5.0000000000000000')),
 ('Hatchet', datetime.date(1995, 11, 25), Decimal('5.0000000000000000')),
 ('Invention and Evolution', datetime.date(1995, 6, 23), Decimal('5.0000000000000000')),
 ('The Art of Kissing', datetime.date(1995, 11, 13), Decimal('5.0000000000000000')),
 ('These Old Shades', datetime.date(1995, 11, 21), Decimal('5.0000000000000000'))]

 Then on `customer_reviews_col`:

In [14]:
%%time
%%sql

SELECT product_title, review_date, AVG(review_rating) as average
FROM customer_reviews_col
WHERE review_date >= '1995-01-01' AND
    review_date <= '1995-12-31'
GROUP BY (product_title, review_date)
ORDER BY average DESC
LIMIT 20

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 624 µs, sys: 3.04 ms, total: 3.67 ms
Wall time: 13.1 ms

[('Longitude ', datetime.date(1995, 11, 20), Decimal('5.0000000000000000')),
 ('Hunger of Memory', datetime.date(1995, 10, 16), Decimal('5.0000000000000000')),
 ('Unix Network Programming', datetime.date(1995, 10, 13), Decimal('5.0000000000000000')),
 ('The Pond Doctor', datetime.date(1995, 8, 10), Decimal('5.0000000000000000')),
 ('Third Eye', datetime.date(1995, 8, 31), Decimal('5.0000000000000000')),
 ('The Radicalism of the American Revolution (Vintage)', datetime.date(1995, 12, 14), Decimal('5.0000000000000000')),
 ('COMMITMENT', datetime.date(1995, 12, 24), Decimal('5.0000000000000000')),
 ('The Lions of Al-Rassan', datetime.date(1995, 8, 10), Decimal('5.0000000000000000')),
 ('The Angel Maker', datetime.date(1995, 9, 8), Decimal('5.0000000000000000')),
 ('Shipping News ', datetime.date(1995, 9, 6), Decimal('5.0000000000000000')),
 ('Snow Crash (Bantam Spectra Book)', datetime.date(1995, 12, 13), Decimal('5.0000000000000000')),
 ("Liar's Poker", datetime.date(1995, 9, 8), Decimal('5.0000000000000000')),
 ('Genius in the Shadows ', datetime.date(1995, 12, 29), Decimal('5.0000000000000000')),
 ('The Hobbit and The Lord of the Rings', datetime.date(1995, 10, 24), Decimal('5.0000000000000000')),
 ('Zen and the Art of Motorcycle Maintenance', datetime.date(1995, 9, 30), Decimal('5.0000000000000000')),
 ('Interview with the Vampire ', datetime.date(1995, 10, 18), Decimal('5.0000000000000000')),
 ('Hatchet', datetime.date(1995, 11, 25), Decimal('5.0000000000000000')),
 ('Invention and Evolution', datetime.date(1995, 6, 23), Decimal('5.0000000000000000')),
 ('The Art of Kissing', datetime.date(1995, 11, 13), Decimal('5.0000000000000000')),
 ('These Old Shades', datetime.date(1995, 11, 21), Decimal('5.0000000000000000'))]

## Conclusion: We can see that the columnar storage is faster!